@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --col-blue-100: #b6e9ec;
  --col-blue-500: #42d7e1;

  --col-green-500: #48e298;

  --col-gray-100: #ffffff;
  --col-gray-300: #c5cece;
  --col-gray-800: #4e5353;
  --col-gray-900: #2b2d2d;
}

html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--col-gray-900);
  color: var(--col-gray-100);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  overflow-x: hidden;
  position: relative;
  flex: 1 0 auto;
}

article {
  padding: 3rem 2.75rem 2.75rem 2.75rem;
}

.landing article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}
footer {
  padding: 3rem 2.75rem 1.75rem 2.75rem;
  font-size: 0.75rem;
}

@media only screen and (min-width: 650px) {
  .landing article {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  article {
    padding: 6rem 8rem 4rem 8rem;
  }

  footer {
    padding: 4rem 8rem 2rem 8rem;
  }
}

.landing header {
  flex: 1 0 16.25rem;
}

.landing header h1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0 0 2.5rem 0;
  line-height: 1.35;
  max-width: 16.25rem;
}

.page header h1 {
  font-weight: 400;
  font-size: 2.25rem;
}

.page h2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 3rem;
}

@media only screen and (min-width: 1200px) {
  .page header h1 {
    font-size: 3rem;
  }

  .page h2 {
    font-size: 2rem;
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1500px) {
  .landing header h1 {
    font-size: 9rem;
    max-width: 32.5rem;
  }
}

.landing p {
  margin: 0;
}
.page p {
  max-width: 40rem;
}

.page li {
  max-width: 35rem;
}
.page li p {
  margin: 0;
}
.page li .date {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.page li .muted {
  color: var(--col-gray-300);
}
.page ul > li {
  margin-bottom: 0.75rem;
}

a:link,
a:visited {
  color: var(--col-blue-100);
  text-decoration-line: none;
}

a:hover {
  color: var(--col-gray-100);
  text-decoration-line: none;
}

header h2 {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--col-blue-100);
  margin: 0;
}

@media only screen and (min-width: 1500px) {
  header h2 {
    font-size: 4.5rem;
  }
}

.landing header p {
  font-size: 1.25rem;
  max-width: 42.5rem;
  margin: 4rem 0 0 0;
}

@media only screen and (min-width: 1500px) {
  .landing header p {
    font-size: 1.5rem;
  }
}

.cfp-info,
.return-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1 0 auto;
}

.return-link {
  align-items: flex-start;
}

.cfp-info a,
.return-link a {
  display: flex;
  align-items: center;
}

.cfp-info a svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.return-link a svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.cfp-info p,
.return-link p {
  font-size: 1.5rem;
}

.cfp-info p:first-child,
.return-link p:first-child {
  margin-bottom: 0.25rem;
}

.cfp-info p.secondary,
.return-link p.secondary {
  font-size: 1rem;
  color: var(--col-grey-300);
}

@media only screen and (min-width: 650px) {
  .cfp-info,
  .return-link {
    flex-basis: 18rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cfp-info,
  .return-link {
    flex-basis: 31rem;
  }
  .cfp-info p,
  .return-link p {
    font-size: 3rem;
  }
  .cfp-info p.secondary,
  .return-link p.secondary {
    font-size: 1.5rem;
  }
  .cfp-info a svg {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
  }
  .return-link a svg {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.25rem;
  z-index: 100;
  background: linear-gradient(
    90deg,
    var(--col-blue-500) 0%,
    var(--col-green-500) 100%
  );
}

.bg-top {
  position: absolute;
  top: -14rem;
  right: -32rem;
  height: 48rem;
  width: 48rem;
  pointer-events: none;
}

.bg-side {
  position: absolute;
  bottom: 5rem;
  left: -7rem;
  height: 16rem;
  width: 16rem;
  pointer-events: none;
}

@media only screen and (min-width: 1024px) {
  .bg-top {
    top: -24rem;
    right: -24rem;
    height: 80rem;
    width: 80rem;
  }

  .bg-side {
    display: none;
  }
}

.pretix-widget {
  background-color: var(--col-gray-900);
  margin: 2rem 0;
}

@media only screen and (min-width: 650px) {
  .pretix-widget {
    margin: 0;
  }
}

.timeline {
  position: relative;
  margin: 0;
  padding: 0;
}

.timeline::before {
  content: "";
  background-color: var(--col-gray-800);
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  left: 1.4rem;
  width: 0.2rem;
  z-index: -1;
}

.page li.timeline-entry {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.page li.timeline-entry:last-child {
  margin-bottom: 0;
}

.timeline-entry-icon {
  width: 3rem;
  height: 3rem;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  color: var(--col-gray-900);
  background-color: var(--col-blue-100);
  border-radius: 100%;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

.gcal-embed iframe {
  width: 20rem;
  height: 40rem;
  border: solid 1px #777;
}

@media only screen and (min-width: 650px) {
  .gcal-embed iframe {
    width: 35rem;
  }
}


@media only screen and (min-width: 1024px) {
  .gcal-embed iframe {
    width: 55rem;
  }
}